body {
    background: rgb(255,234,255);
background: -moz-linear-gradient(62deg, rgba(255,234,255,0.5) 0%, rgba(120,95,108,0.8746849081429446) 47%, rgba(48,28,44,0.8130602582830007) 92%);
background: -webkit-linear-gradient(62deg, rgba(255,234,255,0.5) 0%, rgba(120,95,108,0.8746849081429446) 47%, rgba(48,28,44,0.8130602582830007) 92%);
background: linear-gradient(62deg, rgba(255,234,255,0.5) 0%, rgba(120,95,108,0.8746849081429446) 47%, rgba(48,28,44,0.8130602582830007) 92%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffeaff",endColorstr="#301c2c",GradientType=1);
background-size: cover;
background-repeat: no-repeat;
padding: 0 0 3rem 0;
}

h1, p, a {
    font-family: 'Acme', sans-serif;
    display: block;
    text-align: center;
    line-height:.8;
    color: white;
}
.contenido {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Acme', sans-serif;
}

h1 {
    font-size: 4rem;
}
a {
    font-size: 1.4rem;
}
p {
    font-size: 2.2rem;
}

.hashtag {
    font-family: 'Itim', cursive;
}

dt{
    font-family: 'Itim', cursive;
    font-size: 1.5rem;
}
dd{
    font-family: 'Itim', cursive;
    font-size: 1rem;
}